In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("shots_data.csv")
data

       team     x     y  fgmade
0    Team A -23.1   3.5       0
1    Team A   0.0  25.1       1
2    Team A   0.5   1.0       1
3    Team A  -5.6   5.2       0
4    Team A   4.0  14.5       1
..      ...   ...   ...     ...
555  Team B   7.8  24.7       0
556  Team B  10.1   1.4       1
557  Team B -17.8  -0.1       0
558  Team B  22.6   2.9       0
559  Team B  -0.7  14.7       1

[560 rows x 4 columns]

In [3]:
data['Shot Type'] = np.nan

data.loc[data['y'] <= 7.8,'Shot Type'] = 1 #Corner = 1
data.loc[data['y'] > 7.8, 'Shot Type'] = 0 #NonCorner = 0
data

       team     x     y  fgmade  Shot Type
0    Team A -23.1   3.5       0        1.0
1    Team A   0.0  25.1       1        0.0
2    Team A   0.5   1.0       1        1.0
3    Team A  -5.6   5.2       0        1.0
4    Team A   4.0  14.5       1        0.0
..      ...   ...   ...     ...        ...
555  Team B   7.8  24.7       0        0.0
556  Team B  10.1   1.4       1        1.0
557  Team B -17.8  -0.1       0        1.0
558  Team B  22.6   2.9       0        1.0
559  Team B  -0.7  14.7       1        0.0

[560 rows x 5 columns]

In [4]:
data['distance'] = (data['x']**2 + data['y']**2)**(1/2)
data

       team     x     y  fgmade  Shot Type   distance
0    Team A -23.1   3.5       0        1.0  23.363647
1    Team A   0.0  25.1       1        0.0  25.100000
2    Team A   0.5   1.0       1        1.0   1.118034
3    Team A  -5.6   5.2       0        1.0   7.641989
4    Team A   4.0  14.5       1        0.0  15.041609
..      ...   ...   ...     ...        ...        ...
555  Team B   7.8  24.7       0        0.0  25.902316
556  Team B  10.1   1.4       1        1.0  10.196568
557  Team B -17.8  -0.1       0        1.0  17.800281
558  Team B  22.6   2.9       0        1.0  22.785302
559  Team B  -0.7  14.7       1        0.0  14.716657

[560 rows x 6 columns]

In [5]:
data['Type'] = np.nan

# 2PT = 0, C3 = 1, NC3 =2
#Filters 2 PTS
data.loc[(data['distance'] < 22) & (data['Shot Type'] == 1), 'Type'] = '2PT'
data.loc[(data['distance'] < 23.75) & (data['Shot Type'] == 0), 'Type'] = '2PT'
#Filters 3 PTS
data.loc[(data['distance'] > 22) & (data['Shot Type'] == 1), 'Type'] = 'C3'
data.loc[(data['distance'] > 23.75) & (data['Shot Type'] == 0), 'Type'] = 'NC3'
data

       team     x     y  fgmade  Shot Type   distance Type
0    Team A -23.1   3.5       0        1.0  23.363647   C3
1    Team A   0.0  25.1       1        0.0  25.100000  NC3
2    Team A   0.5   1.0       1        1.0   1.118034  2PT
3    Team A  -5.6   5.2       0        1.0   7.641989  2PT
4    Team A   4.0  14.5       1        0.0  15.041609  2PT
..      ...   ...   ...     ...        ...        ...  ...
555  Team B   7.8  24.7       0        0.0  25.902316  NC3
556  Team B  10.1   1.4       1        1.0  10.196568  2PT
557  Team B -17.8  -0.1       0        1.0  17.800281  2PT
558  Team B  22.6   2.9       0        1.0  22.785302   C3
559  Team B  -0.7  14.7       1        0.0  14.716657  2PT

[560 rows x 7 columns]

In [6]:
#Filter depending on Team
Adata = data[data['team']== 'Team A']
Bdata = data[data['team']== 'Team B']

In [7]:
#Finding Shot Distribution
Adata.Type.value_counts()

2PT    170
NC3     90
C3      20
Name: Type, dtype: int64

In [8]:
ASplits = (Adata.Type.value_counts() / 280)*100
ASplits

2PT    60.714286
NC3    32.142857
C3      7.142857
Name: Type, dtype: float64

In [9]:
Bdata.Type.value_counts()

2PT    163
NC3     96
C3      21
Name: Type, dtype: int64

In [10]:
BSplits = (Bdata.Type.value_counts() / 280)*100
BSplits

2PT    58.214286
NC3    34.285714
C3      7.500000
Name: Type, dtype: float64

In [11]:
#Find amount of makes from each positiion
Amakes = Adata[Adata['fgmade'] == 1]
Amakes.Type.value_counts()

2PT    68
NC3    29
C3      8
Name: Type, dtype: int64

In [12]:
Bmakes = Bdata[Bdata['fgmade'] == 1]
Bmakes.Type.value_counts()

2PT    75
NC3    35
C3      5
Name: Type, dtype: int64

In [13]:
#TeamA EFG% from 2PT
68/170

0.4

In [14]:
#TeamA EFG% from NC3
(.5*29)/90

0.16111111111111112

In [15]:
#TeamA EFG% from C3
(.5*8)/20

0.2

In [16]:
#TeamB EFG% from 2PT
75/163

0.4601226993865031

In [17]:
#TeamB EFG% from NC3
(35*.5)/96

0.18229166666666666

In [18]:
#TeamB EFG% from C3
(5*.5)/21

0.11904761904761904